body{
    background-image: url('https://static.vecteezy.com/system/resources/previews/022/255/402/large_2x/black-headphones-on-a-dark-background-3d-rendering-3d-illustration-generative-ai-free-photo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
   }


   a{
    text-decoration: none;
   }