
body{
    background-image: url('https://wallpapercave.com/wp/wp2366361.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
   }


   a{
    text-decoration: none;
   }